## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Moss Point,US,30.4116,-88.5345,76.44,68,40,5.75,scattered clouds
1,1,Ahipara,NZ,-35.1667,173.1667,62.17,79,90,3.60,overcast clouds
2,2,Karpathos,GR,35.5070,27.2132,58.96,72,100,8.05,overcast clouds
3,3,Portlethen,GB,57.0547,-2.1307,39.78,79,100,10.36,light rain
4,4,Batagay,RU,67.6333,134.6333,-35.27,98,100,2.57,overcast clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ahipara,NZ,-35.1667,173.1667,62.17,79,90,3.60,overcast clouds
2,2,Karpathos,GR,35.5070,27.2132,58.96,72,100,8.05,overcast clouds
5,5,Punta Arenas,CL,-53.1500,-70.9167,51.91,43,40,34.52,scattered clouds
11,11,Belen,TR,36.4891,36.2233,50.14,100,75,1.14,light rain
14,14,Rawson,AR,-43.3002,-65.1023,69.12,39,56,17.34,broken clouds
15,15,Bredasdorp,ZA,-34.5322,20.0403,63.28,73,0,26.11,clear sky
18,18,Benghazi,LY,32.1167,20.0667,72.12,44,58,20.40,broken clouds
20,20,Cape Town,ZA,-33.9258,18.4232,73.11,49,0,17.27,clear sky
33,33,Hermanus,ZA,-34.4187,19.2345,63.81,72,0,27.74,clear sky
35,35,Shingu,JP,33.7333,135.9833,51.39,76,0,6.13,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                209
City                   209
Country                205
Lat                    209
Lng                    209
Max Temp               209
Humidity               209
Cloudiness             209
Wind Speed             209
Current Description    209
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.count()

City_ID                205
City                   205
Country                205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Current Description    205
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ahipara,NZ,62.17,overcast clouds,-35.1667,173.1667,
2,Karpathos,GR,58.96,overcast clouds,35.5070,27.2132,
5,Punta Arenas,CL,51.91,scattered clouds,-53.1500,-70.9167,
11,Belen,TR,50.14,light rain,36.4891,36.2233,
14,Rawson,AR,69.12,broken clouds,-43.3002,-65.1023,
15,Bredasdorp,ZA,63.28,clear sky,-34.5322,20.0403,
18,Benghazi,LY,72.12,broken clouds,32.1167,20.0667,
20,Cape Town,ZA,73.11,clear sky,-33.9258,18.4232,
33,Hermanus,ZA,63.81,clear sky,-34.4187,19.2345,
35,Shingu,JP,51.39,clear sky,33.7333,135.9833,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/hotel_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")